{% extends 'website/base.html' %}
{% load  static %}
{% block content %}

<!--hero section start-->
<section class="hero-section ptb-120 text-white bg-gradient" style="background: url('{% static 'assets/img/hero-dot-bg.png' %}')no-repeat center right">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-10">
                <div class="hero-content-wrap mt-5 mt-lg-0 mt-xl-0">
                    <h1 class="fw-bold display-5">Thinking of RFID !!! Consider IT....DOne</h1>
                    <p class="lead">DOne RFID turnkey solution leverages RFID
                        technology to digitally identify and connect
                        your inventory in order to easily locate and
                        track any item through the value chain and
                        wherever they are in matters of seconds.
                        Our team will help you design and implement
                        suitable RFID infrastructure and customize
                        and integrate DOne RFID Platform with your
                        existing ERP and inventory systems.
                    </p>
                    <div class="action-btn mt-5 align-items-center d-block d-sm-flex d-lg-flex d-md-flex">
                        <a href="request-demo.html" class="btn btn-primary me-3">Request For Demo</a>
                        <a href="http://www.youtube.com/watch?v=hAP2QF--2Dg" class="text-decoration-none popup-youtube d-inline-flex align-items-center watch-now-btn mt-3 mt-lg-0 mt-md-0"> <i
                                class="fas fa-play"></i> Watch Demo </a>
                    </div>
                    <div class="row justify-content-lg-start mt-60">
                        <h6 class="text-white-70 mb-2">Our Top Clients:</h6>
                        <div class="col-4 col-sm-3 my-2 ps-lg-0">
                            <img src="{% static 'assets/img/clients/client-1.svg' %}" alt="client" class="img-fluid">
                        </div>
                        <div class="col-4 col-sm-3 my-2">
                            <img src="{% static 'assets/img/clients/client-2.svg' %}" alt="client" class="img-fluid">
                        </div>
                        <div class="col-4 col-sm-3 my-2">
                            <img src="{% static 'assets/img/clients/client-3.svg' %}" alt="client" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 mt-5">
                <div class="hero-img position-relative circle-shape-images">
                    <!--animated shape start-->
                    <ul class="position-absolute animate-element parallax-element circle-shape-list">
                        <li class="layer" data-depth="0.03">
                            <img src="{% static 'assets/img/shape/circle-1.svg' %}" alt="shape" class="circle-shape-item type-0 hero-1">
                        </li>
                        <li class="layer" data-depth="0.02">
                            <img src="{% static 'assets/img/shape/circle-1.svg' %}" alt="shape" class="circle-shape-item type-1 hero-1">
                        </li>
                        <li class="layer" data-depth="0.04">
                            <img src="{% static 'assets/img/shape/circle-1.svg' %}" alt="shape" class="circle-shape-item type-2 hero-1">
                        </li>
                        <li class="layer" data-depth="0.04">
                            <img src="{% static 'assets/img/shape/circle-1.svg' %}" alt="shape" class="circle-shape-item type-3 hero-1">
                        </li>
                        <li class="layer" data-depth="0.03">
                            <img src="{% static 'assets/img/shape/circle-1.svg' %}" alt="shape" class="circle-shape-item type-4 hero-1">
                        </li>
                        <li class="layer" data-depth="0.03">
                            <img src="{% static 'assets/img/shape/circle-1.svg' %}" alt="shape" class="circle-shape-item type-5 hero-1">
                        </li>
                    </ul>
                    <!--animated shape end-->
                    <img src="{% static 'assets/img/rfid_pic_1.png' %}" alt="hero img" class="img-fluid position-relative z-5">
                </div>
            </div>
        </div>
    </div>
</section>
<!--hero section end-->

<!--feature section start-->
<section class="feature-section two-bg-dark-light ptb-120">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6">
                <div class="image-wrap">
                    <img src="{% static 'assets/img/rfid_tracking_ecosysten.png' %}" alt="feature img" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="feature-content-wrap">
                    <h2>Our DOne RFID Solution</h2>

                    <p>
                        ✓ State of the art and versatile RFID platform coupled with industryleading RFID hardware and best-in-class RFID labels and tags to
                        cover every use cases <br><br>
                        ✓ Intuitive, speedy user interface for managing work orders and
                        monitoring/accepting your stock count from multiple devices. <br><br>
                        ✓ Capable of storing essential RFID tag data for inventory
                        management, tracking and visibility. <br><br>
                        ✓ Optimizes data storage for high-volume transactional updates
                        and real-time response. <br><br>
                        ✓ Extensive alert and notification features that can integrate with
                        other systems. <br><br>
                        ✓ Integrates with third party ERP and procurement systems via key
                        fields. <br><br>
                        ✓ Source RFID readers, RFID tags, industrial RFID printers <br><br>
                        ✓ help you develop best business practices for design and rollouts

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--feature section end-->



<!--feature section two start-->
<section class="feature-section-two ptb-120 bg-light">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="section-heading">
                    <h4 class="h5 text-primary">Our Values</h4>
                    <h2>The Core Values that Drive Everything</h2>
                    <p>Quickly incubate functional channels with multidisciplinary architectures. Authoritatively
                        fabricate formulate exceptional innovation.</p>
                    <ul class="list-unstyled mt-5">
                        <li class="d-flex align-items-start mb-4">
                            <div class="icon-box bg-primary rounded me-4">
                                <i class="fas fa-bezier-curve text-white"></i>
                            </div>
                            <div class="icon-content">
                                <h3 class="h5">Pixel Perfect Design</h3>
                                <p>Progressively foster enterprise-wide systems whereas equity invested
                                    web-readiness harness installed.
                                </p>
                            </div>
                        </li>
                        <li class="d-flex align-items-start mb-4">
                            <div class="icon-box bg-danger rounded me-4">
                                <i class="fas fa-fingerprint text-white"></i>
                            </div>
                            <div class="icon-content">
                                <h3 class="h5">Unique &amp; Minimal Design</h3>
                                <p>Dramatically administrate progressive metrics without error-free globally
                                    simplify standardized engineer efficient strategic.
                                </p>
                            </div>
                        </li>
                        <li class="d-flex align-items-start mb-4">
                            <div class="icon-box bg-dark rounded me-4">
                                <i class="fas fa-cog text-white"></i>
                            </div>
                            <div class="icon-content">
                                <h3 class="h5">Efficiency & Accountability</h3>
                                <p>Objectively transition prospective collaboration and idea-sharing without focused
                                    maintain focused niche markets niches.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-7">
                <div class="feature-img-wrap position-relative d-flex flex-column align-items-end">
                    <ul class="img-overlay-list list-unstyled position-absolute">
                        <li class="d-flex align-items-center bg-white rounded shadow-sm p-3">
                            <i class="fas fa-check bg-primary text-white rounded-circle"></i>
                            <h6 class="mb-0">Create a Free Account</h6>
                        </li>
                        <li class="d-flex align-items-center bg-white rounded shadow-sm p-3">
                            <i class="fas fa-check bg-primary text-white rounded-circle"></i>
                            <h6 class="mb-0">Install Our Tracking Pixel</h6>
                        </li>
                        <li class="d-flex align-items-center bg-white rounded shadow-sm p-3">
                            <i class="fas fa-check bg-primary text-white rounded-circle"></i>
                            <h6 class="mb-0">Start Tracking your Website</h6>
                        </li>
                    </ul>
                    <img src="assets/img/feature-img3.jpg" alt="feature image" class="img-fluid rounded-custom">
                </div>
            </div>
        </div>
    </div>
</section>
<!--feature section two end-->

<!--team section start-->
<section id="our-team" class="team-section ptb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="section-heading text-center">
                    <h5 class="h6 text-primary">Our Team</h5>
                    <h2>The People Behind Quiety</h2>
                    <p>Intrinsicly strategize cutting-edge before interoperable applications incubate extensive
                        expertise through integrated intellectual capital. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="team-single-wrap mb-5">
                    <div class="team-img rounded-custom">
                        <img src="assets/img/team/team-1.jpg" alt="team" class="img-fluid position-relative">
                        <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info mt-4 text-center">
                        <h5 class="h6 mb-1">John Sullivan</h5>
                        <p class="text-muted small mb-0">Front End Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-single-wrap mb-5">
                    <div class="team-img rounded-custom">
                        <img src="assets/img/team/team-2.jpg" alt="team" class="img-fluid position-relative">
                        <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info mt-4 text-center">
                        <h5 class="h6 mb-1">John Sullivan</h5>
                        <p class="text-muted small mb-0">Front End Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-single-wrap mb-5">
                    <div class="team-img rounded-custom">
                        <img src="assets/img/team/team-3.jpg" alt="team" class="img-fluid position-relative">
                        <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info mt-4 text-center">
                        <h5 class="h6 mb-1">John Sullivan</h5>
                        <p class="text-muted small mb-0">Front End Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-single-wrap mb-5">
                    <div class="team-img rounded-custom">
                        <img src="assets/img/team/team-4.jpg" alt="team" class="img-fluid position-relative">
                        <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info mt-4 text-center">
                        <h5 class="h6 mb-1">John Sullivan</h5>
                        <p class="text-muted small mb-0">Front End Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-single-wrap mb-5">
                    <div class="team-img rounded-custom">
                        <img src="assets/img/team/team-5.jpg" alt="team" class="img-fluid position-relative">
                        <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info mt-4 text-center">
                        <h5 class="h6 mb-1">John Sullivan</h5>
                        <p class="text-muted small mb-0">Front End Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-single-wrap mb-5">
                    <div class="team-img rounded-custom">
                        <img src="assets/img/team/team-6.jpg" alt="team" class="img-fluid position-relative">
                        <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info mt-4 text-center">
                        <h5 class="h6 mb-1">John Sullivan</h5>
                        <p class="text-muted small mb-0">Front End Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-single-wrap mb-5">
                    <div class="team-img rounded-custom">
                        <img src="assets/img/team/team-7.jpg" alt="team" class="img-fluid position-relative">
                        <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info mt-4 text-center">
                        <h5 class="h6 mb-1">John Sullivan</h5>
                        <p class="text-muted small mb-0">Front End Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-single-wrap mb-5">
                    <div class="team-img rounded-custom">
                        <img src="assets/img/team/team-8.jpg" alt="team" class="img-fluid position-relative">
                        <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info mt-4 text-center">
                        <h5 class="h6 mb-1">John Sullivan</h5>
                        <p class="text-muted small mb-0">Front End Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--team section end-->

<!--testimonial section start-->
<section class="testimonial-section ptb-120 bg-light">
    <div class="container">
        <div class="row justify-content-center align-content-center">
            <div class="col-md-10 col-lg-6">
                <div class="section-heading text-center">
                    <h4 class="h5 text-primary">Testimonial</h4>
                    <h2>What They Say About Us</h2>
                    <p>Dynamically initiate market positioning total linkage with clicks-and-mortar technology
                        compelling data for cutting-edge markets.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="position-relative w-100">
                    <div class="swiper-container testimonialSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide border border-2 p-5 rounded-custom position-relative">
                                <img src="assets/img/testimonial/quotes-dot.svg" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3">
                                <div class="d-flex mb-32 align-items-center">
                                    <img src="assets/img/testimonial/1.jpg" class="img-fluid me-3 rounded" width="60" alt="user">
                                    <div class="author-info">
                                        <h6 class="mb-0">Mr.Rupan Oberoi</h6>
                                        <small>Founder and CEO at Amaara Herbs</small>
                                    </div>
                                </div>
                                <blockquote>
                                    <h6>The Best Template You Got to Have it!</h6>
                                    Globally network long-term high-impact schemas vis-a-vis distinctive e-commerce
                                    cross-media infrastructures rather than ethical
                                </blockquote>
                                <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                </ul>
                                <img src="assets/img/testimonial/quotes.svg" alt="quotes" class="position-absolute right-0 bottom-0 z--1 pe-4 pb-4">
                            </div>
                            <div class="swiper-slide border border-2 p-5 rounded-custom position-relative">
                                <img src="assets/img/testimonial/quotes-dot.svg" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3">
                                <div class="d-flex mb-32 align-items-center">
                                    <img src="assets/img/testimonial/3.jpg" class="img-fluid me-3 rounded" width="60" alt="user">
                                    <div class="author-info">
                                        <h6 class="mb-0">Oberoi R.</h6>
                                        <small>CEO at Herbs</small>
                                    </div>
                                </div>
                                <blockquote>
                                    <h6>Embarrassed by the First Version.</h6>
                                    Dynamically create innovative core competencies with effective best
                                    practices promote innovative infrastructures.
                                </blockquote>
                                <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                </ul>
                                <img src="assets/img/testimonial/quotes.svg" alt="quotes" class="position-absolute right-0 bottom-0 z--1 pe-4 pb-4">
                            </div>
                            <div class="swiper-slide border border-2 p-5 rounded-custom position-relative">
                                <img src="assets/img/testimonial/quotes-dot.svg" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3">
                                <div class="d-flex mb-32 align-items-center">
                                    <img src="assets/img/testimonial/2.jpg" class="img-fluid me-3 rounded" width="60" alt="user">
                                    <div class="author-info">
                                        <h6 class="mb-0">Mr.Rupan Oberoi</h6>
                                        <small>Founder and CEO</small>
                                    </div>
                                </div>
                                <blockquote>
                                    <h6>Amazing Quiety template!</h6>
                                    Appropriately negotiate interactive niches rather than parallel strategic theme
                                    incubate premium total linkage areas.
                                </blockquote>
                                <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                </ul>
                                <img src="assets/img/testimonial/quotes.svg" alt="quotes" class="position-absolute right-0 bottom-0 z--1 pe-4 pb-4">
                            </div>
                            <div class="swiper-slide border border-2 p-5 rounded-custom position-relative">
                                <img src="assets/img/testimonial/quotes-dot.svg" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3">
                                <div class="d-flex mb-32 align-items-center">
                                    <img src="assets/img/testimonial/4.jpg" class="img-fluid me-3 rounded" width="60" alt="user">
                                    <div class="author-info">
                                        <h6 class="mb-0">Joan Dho</h6>
                                        <small>Founder and CTO</small>
                                    </div>
                                </div>
                                <blockquote>
                                    <h6>Best Template for SAAS Company!</h6>
                                    Dynamically create innovative core competencies with effective best
                                    practices promote innovative infrastructures.
                                </blockquote>
                                <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                </ul>
                                <img src="assets/img/testimonial/quotes.svg" alt="quotes" class="position-absolute right-0 bottom-0 z--1 pe-4 pb-4">
                            </div>
                            <div class="swiper-slide border border-2 p-5 rounded-custom position-relative">
                                <img src="assets/img/testimonial/quotes-dot.svg" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3">
                                <div class="d-flex mb-32 align-items-center">
                                    <img src="assets/img/testimonial/5.jpg" class="img-fluid me-3 rounded" width="60" alt="user">
                                    <div class="author-info">
                                        <h6 class="mb-0">Ranu Mondal</h6>
                                        <small>Lead Developer</small>
                                    </div>
                                </div>
                                <blockquote>
                                    <h6>It is undeniably good!</h6>
                                    Rapidiously supply client-centric e-markets and maintainable processes
                                    progressively engineer
                                </blockquote>
                                <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                </ul>
                                <img src="assets/img/testimonial/quotes.svg" alt="quotes" class="position-absolute right-0 bottom-0 z--1 pe-4 pb-4">
                            </div>
                        </div>
                    </div>
                    <span class="swiper-button-next"></span>
                    <span class="swiper-button-prev"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<!--testimonial section end-->

<!--our location address start-->
<section class="office-address-section ptb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="section-heading text-center">
                    <h4 class="h5 text-primary">Our Office</h4>
                    <h2>Located Around the World</h2>
                    <p>Dynamically technically sound technologies with parallel task convergence quality vectors
                        through excellent relationships. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 mt-xl-0">
                <div class="rounded-custom border d-block office-address overflow-hidden z-2" style="background: url('assets/img/office-img-1.jpg')no-repeat center center / cover">
                    <div class="office-content text-center p-4">
                        <span class="office-overlay"></span>
                        <div class="office-info">
                            <h5>Singapore</h5>
                            <address>
                                4636 Bombardier Way <br> Sr,Worthington, <br>California(CA), 94102
                            </address>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 mt-xl-0">
                <div class="rounded-custom border d-block office-address overflow-hidden z-2" style="background: url('assets/img/office-img-2.jpg')no-repeat center center / cover">
                    <div class="office-content text-center p-4">
                        <span class="office-overlay"></span>
                        <div class="office-info">
                            <h5>Los Angeles</h5>
                            <address>
                                794 Mcallister <br> St. Oak Harbor, <br>Washington(WA), 98277
                            </address>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 mt-xl-0">
                <div class="rounded-custom border d-block office-address overflow-hidden z-2" style="background: url('assets/img/office-img-3.jpg')no-repeat center center / cover">
                    <div class="office-content text-center p-4">
                        <span class="office-overlay"></span>
                        <div class="office-info">
                            <h5>New York</h5>
                            <address>
                                4219 Snowbird Lane <br> St Carthage, <br>New York(NY), 13619
                            </address>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 mt-xl-0">
                <div class="rounded-custom border d-block office-address overflow-hidden z-2" style="background: url('assets/img/office-img-5.jpg')no-repeat center center / cover">
                    <div class="office-content text-center p-4">
                        <span class="office-overlay"></span>
                        <div class="office-info">
                            <h5>Barlin City</h5>
                            <address>
                                Brandenburgische Straße <br> DE. Berlin Kreuzberg, <br>Berlin(CA), 10997
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--our location address end-->

<!--cat subscribe start-->
<section class="cta-subscribe bg-dark ptb-120 position-relative overflow-hidden">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="subscribe-info-wrap text-center position-relative z-2">
                    <div class="section-heading">
                        <h4 class="h5 text-warning">Let's Try! Get Free Support</h4>
                        <h2>Start Your 14-Day Free Trial</h2>
                        <p>We can help you to create your dream website for better business revenue.</p>
                    </div>
                    <div class="form-block-banner mw-60 m-auto mt-5">
                        <a href="contact-us.html" class="btn btn-primary">Contact with Us</a>
                        <a href="http://www.youtube.com/watch?v=hAP2QF--2Dg" class="text-decoration-none popup-youtube d-inline-flex align-items-center watch-now-btn ms-lg-3 ms-md-3 mt-3 mt-lg-0">
                            <i
                                    class="fas fa-play"></i> Watch Demo </a>
                    </div>
                    <ul class="nav justify-content-center subscribe-feature-list mt-4">
                        <li class="nav-item">
                            <span><i class="far fa-check-circle text-primary me-2"></i>Free 14-day trial</span>
                        </li>
                        <li class="nav-item">
                            <span><i
                                    class="far fa-check-circle text-primary me-2"></i>No credit card required</span>
                        </li>
                        <li class="nav-item">
                            <span><i class="far fa-check-circle text-primary me-2"></i>Support 24/7</span>
                        </li>
                        <li class="nav-item">
                            <span><i class="far fa-check-circle text-primary me-2"></i>Cancel anytime</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light left-5"></div>
        <div class="bg-circle rounded-circle circle-shape-1 position-absolute bg-warning right-5"></div>
    </div>
</section>
<!--cat subscribe end-->

{% endblock %}
